 /* The side navigation menu */
 .sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 9999; 
    top: 0; 
    left: 0;
    background-color: #ffffff; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  .sidenav a, .sidenav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 19pxx;
    color: #333333;
    display: block;
    transition: 0.3s;
  }

  .sidenav .nav-link-wrapper{
    width: 20rem !important;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover,
  .sidenav button:hover {
    color: #4590fd;
    margin-left: 10px;
    transition: .3s;
    /* color: #f1f1f1; */
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* header */
  .dashboard-header{
    box-shadow: 1px 5px 10px #eeeeee;
    padding: 10px 6px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 